<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    <style>
        .supplier-logo {
            max-width: 100px;
            /* Adjust the maximum width as needed */
            max-height: 100px;
            /* Adjust the maximum height as needed */
        }
    </style>
</head>

<body>
    <h1>Possible Suppliers</h1>
    <div>
        {% for supplier in suppliers %}
        <a href="{{ url_for('supplier_offerings', supplier_name=supplier) }}">
            <img class="supplier-logo" src="{{ url_for('static', filename='logos/' + supplier + '.png') }}"
                alt="{{ supplier }} Logo">
        </a>
        {% endfor %}
    </div>
</body>

</html>